body { 
background-color:black;
font-family:"Century Gothic", sans;
}
#header { 
color:red;
background-color:gray;
}
 h1 { 
text-align:center;

}
h5{
text-align:right;
font-size:25px;
}

h4{
text-align:left;
font-size:30px;
}

#who{ width: 300px;
color:white;
text-align:center;
margin-left:540px;
font-size:25px;
background-color:red;}

a{
text-align:center;
margin-left:500px;
color:black;
background-color:white;
font-size:25px;
height:500px;}
}

p{
color:white;
text-align:center;
font-size:30px;}

#where{ width: 300px;
color:white;
text-align:center;
margin-left:540px;
font-size:25px;
background-color:red;}

#when{ width: 300px;
color:white;
text-align:center;
margin-left:540px;
font-size:25px;
background-color:red;}


#what{ width: 300px;
color:white;
text-align:center;
margin-left:540px;
font-size:25px;
background-color:red;}

#why{ width: 300px;
color:white;
text-align:center;
margin-left:540px;
font-size:25px;
background-color:red;}